# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env

# Virtual Environment
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log